@charset "UTF-8";
/* .press-start 2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
} */
:root{
    --mobileBreak: 568px;
    --smmobileBreak: 390px;
    --gameWidth: calc( 100% - 40px );
    --bgColor: #dfe1db;
    --rounded: 10px;
}

html,
body,
body *{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html,
body{
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--bgColor);
}
button,
select{
    cursor: pointer;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}

.fill{
    width: 100%;
    height: 100%;
}

.flx-center-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media ( max-width: var( --mobileBreak ) ) {
        display: block;
        padding-top: 20px;
    }
}


.has-border{
    border: 4px solid #000;
    border-radius: var(--rounded);
    background-color:  var(--bgColor);
   
}

.pkebtl-view{
   width: 100%;
   height: 100%;
   position: absolute;
}

.pkebtl-view,
.cs-player{
    display: none;
    opacity: 0;
    z-index: 100;
    
    &.active{
        display: block;
        opacity: 1;
        z-index: 1000;
   }
}

.pkebtl-modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
}

.pkebtl-btn{
    display: block;
    width: 100%;
    min-width: 200px;
    height: 50px;
    text-align: center;
    padding: 10px;
    
    text-transform: uppercase;
    /* &:active{
        background-color: #666666;
    } */

    &.disabled{
        opacity: .25;
        cursor: initial;
        &:hover{
            background-color: initial;
        }
    }
    &.active{
        opacity: 1;
        cursor: pointer;
        &:hover{
            background-color: #ccc;;
        }
    }

}

.main-view{
    width: var( --gameWidth );
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;

    min-height: 500px;
    position: relative;

    .intro-view{
        .buttons{
            width: 100%;
            max-width: 300px;
            margin: 100px auto;
            button{
                margin: 10px 0;

                /* temporarily  disabling the instructions*/
                &:nth-child(3){
                    opacity: .25;
                    cursor: initial;
                    &:hover{
                        background-color: initial;
                    }
                }
            }
        }
        .legal{
            position: absolute;
            bottom: 20px;
            text-align: center;
        }
        @media ( max-width: var( --smMobileBreak ) ) {
            .legal{
                text-align: left;
            }
        }
        
    }


    .character-select-view{
        .vs{
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            margin: 20px; 
        }
        .start-button{
            opacity: 3.0;
        }
        .cs-player{
            margin: 35px 0 50px;
            h3{
                font-size: 35px;
            }
            .stats{
                width: 100%;
                max-width: 490px;
                height: 75px;
                padding: 0 20px;
                font-size: 1.1rem;

                /* span{
                    font-weight: 700;
                } */
               
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                p{
                    display: inline;
                }
            }
            .carousel{
                .images{
                    width: 200px;
                    height: 200px;
                    margin: 0 auto;
                   .img{
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                text-align: center;
                button{
                    opacity: 0.25;
                    font-size: 20px;
                    margin: 5px;
                    background-color: var(--bgColor);
                    visibility: hidden;
                    &.active{
                        visibility: visible;
                    }
                }
                
            }
            .toolbar{
                margin: 15px 0 35px;
                
                .random-pokemon-button{

                    margin-bottom: 10px;
                    &:hover{
                        background-color: #ccc;
                    }
                    &:active{
                        background-color: #666666;
                    }
                }
                .all-pokemon-select{
            
                    position: relative;
                    box-sizing: border-box;
                    
                    /* width: 140px; */
                   .pokemon-select{  
                        &:hover{
                            background-color: #ccc;
                        }
                        &:active{
                            background-color: #666666;
                        }
    
                        -webkit-border-radius: 5px;
                        -webkit-padding-end: 20px;
                        -webkit-padding-start: 10px;
                        -webkit-user-select: none;
                        -webkit-border-radius: 0;
                        -webkit-appearance: none;
                        appearance: none;
            
                        width: 100%;
                        height: 50px;
                        font-size: 1rem;
                        border-radius: var(--rounded);
                        border: 4px solid  black;
                        
                        color: black;
                        
                        text-transform: uppercase;
                        margin: 0;
                        overflow: hidden;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-left: 10px;
                        white-space: nowrap;
                        &:disabled{
                            opacity: 0.5;
                        }
                    }
                    &:after{
                        content: '\30c';
                        display: inline-block;
                        width: 20px;
                        height: 12px;
                        position: absolute;
                        right: 10px;
                        top: 16px;
                        font-size: 35px;
                        pointer-events: none;
                        background-position: 100%;
                        background-size: 12px 12px;
                        z-index: 3;
                    }
                    &.disabled{
                        &:after{
                        opacity: 0.5
                        }
                    }
                }
            }
            
                
        }
       
        @media (min-width: 568px){
            .player-container{
                display: flex;
                justify-content: space-between;
            }
            .center-col{
                align-self: center;
            }
            .cs-player{
                width: 30%;
                min-width: 200px;
                max-width: 400px;
            }
            .cpu{
                .carousel{
                    margin-top: 160px;
                }
            }
            /* .stats{
                margin: initial;
            } */
        }

    }

    .game-view{
       
        .gv-player{
            margin: 35px 0 50px;
            h3{
                font-size: 35px;
            }

            h4{
                font-size: 28px;
                margin: 10px 0;
            }
              
            .img{
               
                width: 100px;
                height: 100px;
                /* margin: 0 auto; */
                img{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
                
    
            .health-bar-container{
                margin: 15px 0 35px;
                height: 40px;
                .health-bar{
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    background-color: #666666;
                }
            }
            
            .moves{ 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 400px;
                height: 200px;
                padding: 20px;
                
                button,
                p{
                    font-weight: 700;
                    text-decoration: underline;
                    text-underline-offset: 4px;
                    margin: 10px 0;
                }
                button{
                    background-color: var(--bgColor);
                    cursor: pointer;
                }
            }  
        }
       
        .play-clock{
            width: 100px;
            height: 100px;
            margin: 35px auto 0;
            
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                font-weight: 700;
                font-size: 30px;
            }
        }
        .player-turn{
            font-weight: 700;
            font-size: 20px;
            margin-top: 20px;
            text-align: center;
        }

       
        @media (min-width: 568px){
            .gv-player-container{
                display: flex;
                justify-content: space-between;
            }
            .player-2 {
                .image-container{
                    display: flex;
                    justify-content: flex-end; 
                }
                text-align: right;
            }
            .play-clock{
                /* align-self: center; */
            }
            .gv-player{
                width: 30%;
                min-width: 220px;
                max-width: 400px;
            }

        }

    }
}